<div class="container">
  <div class="row">

    <div class="article-show">

      <div class="col-md-8 article-show-box">

          <!-- 标题 -->
          <div class="article-title">
            <h1><%= @article.title %></h1>
          </div>

          <!-- 作者、发布时间 -->
          <div class="article-author">
            <span> <%= @article.user.nickname %></span> ·
            <span> <%= @article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
          </div>


          <!-- 主图 -->
          <div class="article-image">
            <%= image_tag(@article.image.thumb.url, class: "img-rounded img-responsive center-block") %>
          </div>
          <hr>

          <!-- 内容 -->
          <div class="article-description">
            <%= simple_format(@article.description) %>
          </div>

          <hr>
          <!-- 文章收藏功能 -->
          <div class="article-collection text-center">
            <% if current_user && current_user.is_article_member_of?(@article) %>
              <div class="article-collection-btn">
                <%= link_to quit_article_path(@article), method: :post, class: "btn btn-lg btn-danger" do %>
                <i class="fa fa-thumbs-up fa-1x">  赞  (<span><%= @article.article_collections.count %></span>) </i><% end %>
              </div>
            <% else %>
              <div class="article-collection-btn">
                <%= link_to join_article_path(@article), method: :post, class: "btn btn-lg btn-default" do %>
                <i class="fa fa-thumbs-o-up fa-1x">  赞  (<span><%= @article.article_collections.count %></span>) </i><% end %>
              </div>
            <% end %>
          </div>
          <hr>

      </div>
    </div>

  </div>
</div>
