<!-- seciont1 -->
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
    <div class="item active">
     <a href="javascript:;">
      <%= image_tag("girl1.jpg")%>
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <%= image_tag("boy.jpg")%>
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <%= image_tag("girl2.jpg")%>
      <div class="carousel-caption"></div>
     </a>
    </div>
  </div>
</div>

<!-- section2 -->
<div class="container text-center container_in_welcome">
  <h3>关于我们</h3>
  <p>20年专注，为会员提供一流的服务，专业的指导，伴你精彩一生。</p>
  <br>

  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>一流的环境设施</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <%= image_tag("shebei.jpg", :class => "img-circle person", :id => "trip1" )%>
      </a>
      <div id="demo" class="collapse">
        <p>高级进口器械</p>
        <p>恒温游泳池</p>
        <p>沐浴桑拿</p>
      </div>
    </div>

    <div class="col-sm-4">
      <p class="text-center"><strong>专业的教练团队</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <%= image_tag("jiaolian.jpg", :class => "img-circle person", :id => "trip1" )%>
      </a>
      <div id="demo2" class="collapse">
        <p>精心指导</p>
        <p>专业素质</p>
        <p>成果导向</p>
      </div>
    </div>

    <div class="col-sm-4">
      <p class="text-center"><strong>极致的贴心服务</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <%= image_tag("severs.jpg", :class => "img-circle person", :id => "trip1" )%>
      </a>
      <div id="demo3" class="collapse">
        <p>专人跟进</p>
        <p>一对一私人定制</p>
        <p>专属的私人菜谱</p>
      </div>
    </div>

  </div>

</div>

<!-- section3 -->
<div class="bg-1">
  <div class="container container_in_welcome">
    <h3 class="text-center">热销商品</h3>
    <p class="text-center">深受会员喜爱的明星商品<br> 欢迎体验 </p>

    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("card1.jpg", :style => "width:400 height:300" )%>

          <p><strong> 会员卡 </strong></p>
          <p>可参加各种大课，尽享运动快乐</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">购买</button>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("onebyone.jpg", :style => "width:400 height:300" )%>
          <p><strong>一对一私教</strong></p>
          <p>专业指导，尊享极速健身</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">购买</button>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("yoga.jpg", :style => "width:400 height:300" )%>
          <p><strong>瑜珈导师训练</strong></p>
          <p> 精进技艺，让你与众不同</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">购买</button>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="container text-center container_in_welcome">
  <h3>快来加入我们吧</h3>
  <p><em></em></p>
  <p></p>
  <br>


</div>


<!-- 购买 弹窗 -->

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
            <input type="number" class="form-control" id="psw" placeholder="How many?">
          </div>
          <div class="form-group">
            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
            <input type="text" class="form-control" id="usrname" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-block">Pay
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div>
  </div>
</div>
