<h1 class="text-center">产品列表</h1><br>

<ul class="nav nav-tabs">
  <li style="margin-left:170px;"><%= link_to "所有", products_path %></li>
  <li><%= link_to "三个月", products_path(:c => "三个月" ) %></li>
  <li><%= link_to "半年", products_path(:c => "半年" ) %></li>
  <li><%= link_to "一年", products_path(:c => "一年" ) %></li>

</ul>


  <div class="container">
    <div class="productList">
      <% @products.each do |product| %>
        <div class="col-xs-6 col-md-3 productList-item">
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
          <%= product.title %> ￥<%= product.price %>
        </div>
      <% end %>
    </div>
  </div>
